<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotepadX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <NotepadX.My.MySettings>
            <setting name="UseSmartEncryption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSmartDecryption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNotifyIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFullPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoEncryptETXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoEncryptETXTCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoEncryptCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoEncryptASCII" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoEncrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDetectURLS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDecryptETXTCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoDecryptETXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDecryptCode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoDecryptASCII" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDecrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="FormColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DefaultSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="IconFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
        </NotepadX.My.MySettings>
    </userSettings>
</configuration>
